.Tags__List {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 8px;
}

.Tags__Tag {
  background-color: #151829;
  border-radius: 14px;
  color: #878ca8;
  font-size: 14px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 4px 8px;
  width: max-content;
}
