.OrderDetails {
  width: 100%;
}

.OrderDetails__value,
.OrderDetails__size {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  width: 100%;
}

.OrderDetails__value {
  font-weight: bold;
}

.OrderDetails__size {
  margin-top: 24px;
}
