.NavBar {
  align-items: center;
  background-color: #101320;
  display: flex;
  left: 0;
  min-height: 80px;
  padding: 0 38px;
  position: fixed;
  right: 0;
  top: 0;
}

.Nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px;
}

.Nav__leftContainer {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  padding-right: 60px;
}

.Nav__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.BasketIcon {
  position: relative;
  margin-right: 16px;
}

.BasketIcon__badge {
  background: #14f0af;
  border-radius: 12px;
  color: black;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: -50%;
  top: -50%;
  text-align: center;
  width: 24px;
}
