.CheckoutPage__Container {
  display: flex;
}

.CheckoutPage__GameList__Container {
  flex-grow: 1;
}

.CheckoutPage__Overview__Container {
  align-items: center;
  background-color: #1e2131;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 5%;
  padding: 32px;
  width: 420px;
}

.CheckoutPage__Divider {
  border-top: 1px solid #2f344b;
  border: none;
  margin: 42px 0;
  width: 100%;
}
