.Link {
  align-items: center;
  color: #14f0af;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  min-height: 24px;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
  background-color: transparent;
}

.Link__icon {
  align-items: center;
  display: flex;
  height: 18px;
  justify-content: center;
  width: 18px;
}

.Link__icon + .Link__text {
  margin-left: 12px;
}
